// ============= start error page =========
.error_page {
  text-align: center;
  position: relative;

  .hide-img {
    position: absolute;
    bottom: 98px;
    right: -47px;
    transform: rotate(92deg);
    width: 200px;
    z-index: -1;
  }

  .image-logo {
    background-color: #fff;
    padding: 25px 62px;
    img {
      width: 200px;
      height: 66px;
    }
  }

  .content {
    padding: 111px 0 70px;
    img {
      object-fit: cover;
      height: 300px;
      mix-blend-mode: multiply;
    }

    .info-content {
      text-align: right;
      h2 {
        font-size: 40px;
        color: #515151;
        margin-bottom: 25px;
        font-family: "NeueHelveticaBQ-Bold";
      }

      p {
        font-size: 21px;
        padding-bottom: 34px;
        color: #707070;
        font-family: "helveticaneue-roman";
      }

      button {
        margin: 0;
        background: #ffd983 0% 0% no-repeat padding-box;
        box-shadow: 0px 12px 32px #ffc64552;
        width: 238px;
        height: 46px;

        &:hover {
          background-color: transparent;
          border: 1px solid #ffd983;
        }
      }
    }
  }
}
// ============= end error page ===========
