// ================ start forget password ==========

.forgetPassword.signup {
  height: 1200px;
}
.forgetPassword {
  background-image: url(@/assets/images/MaskGroup1.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 950px;

  img.flower-1 {
    position: absolute;
    bottom: 0;
    left: -80px;
  }

  img.flower-4 {
    position: absolute;
    bottom: 0;
    left: 70%;
  }
  img.flower-3 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .navbar-top {
    position: unset;
    height: auto !important;

    .container {
      .row {
        justify-content: space-between;
      }
    }

    .content {
      .btns {
        display: none;
      }
    }

    .hide {
      display: none;
    }
  }

  .forget-info {
    margin-top: 80px;

    .box {
      background: transparent linear-gradient(180deg, #ffffff 0%, #ffffff 100%)
        0% 0% no-repeat padding-box;
      box-shadow: 0px 8px 24px #3038680a;
      border: 1px solid #e9e9e9;
      border-radius: 10px;
      padding: 31px 22px 40px;
      margin-bottom: 32px;

      h4 {
        color: #2e386b;
        text-align: center;
        font-size: 24px;
        font-family: "NeueHelveticaBQ-Bold";
        margin-bottom: 24px;
      }
      p {
        color: #707070;
        text-align: center;
        font-size: 18px;
        padding-bottom: 27px;
        width: 60%;
        margin: auto;
      }
      form {
        label {
          color: #2e386b;
          margin-bottom: 6px;
          font-size: 14px;
        }

        .or {
          text-align: center;
          padding: 3px 20px;
          background: transparent
            linear-gradient(180deg, #ffffff 0%, #ffffff 100%) 0% 0% no-repeat
            padding-box;

          &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background: #707070;
            top: 50%;
            left: 0%;
            opacity: 0.2;
            z-index: -1;
          }
        }

        .term {
          display: flex;
          gap: 8px;

          .terms {
            color: #80aeff;
          }
        }

        .check {
          display: flex;
          align-items: baseline;
          gap: 12px;

          span {
            color: #2e386b;
            font-size: 14px;
            font-family: "NeueHelveticaBQ-Bold";
          }

          input {
            width: 16px;
            height: 16px;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 3px;
            accent-color: burlywood;
          }
        }

        input {
          height: 45px;
          background: #fafbff 0% 0% no-repeat padding-box;
          border: 1px solid #f0f0f0;
          border-radius: 12px;
          width: 100%;
          color: #2e386b59;
          margin-bottom: 24px;
          text-indent: 15px;
        }
        button {
          background: #ffd983 0% 0% no-repeat padding-box;
          box-shadow: 0px 12px 32px #ffc64552;
          width: 100%;
          border-radius: 30px;
          height: 46px;

          &:hover {
            background-color: transparent;
            border: 1px solid #ffd983;
          }
        }

        .btn-google {
          height: 45px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #d6d6d6;
          box-shadow: none;
          border-radius: 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .eye {
      position: absolute;
      top: 44px;
      left: 30px;
      cursor: pointer;
    }
    .call {
      gap: 12px;

      span {
        color: #303868;
        font-size: 18px;
      }
      span.contact {
        color: #80aeff;
        font-family: "NeueHelveticaBQ-Bold";
      }
    }
  }

  .vue-tel-input {
    background: #fafbff;
    display: flex;
    align-items: baseline;
    border: none;
    height: 47px;
    margin-bottom: 20px;
  }
  .vti__dropdown {
    height: 100%;
  }
  .vti__input {
    border: none !important;
  }
  .vti__dropdown-item {
    display: block !important;
    text-align: right;
  }

  .vti__dropdown-list.below {
    top: 68px;
    right: 0;
  }
}
// ================ end forget password ============
