/*======== start heading ===========*/
.head-with-border {
  position: relative;
  h2 {
    text-align: center;
    margin: 40px auto;
    color: white;
    padding: 10px 15px;
    width: 400px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1.5px;
      z-index: -1;
    }
  }
}

/*========== end heading ==============*/
