/*======= start header layout ===============*/
.header {
  @include backgroundImage;
  // background-image: url(@/assets/images/header.webp);
  height: 700px;

  .overlay {
    background: transparent
      linear-gradient(270deg, #ff4d00 0%, #ff7400 10%, #ff4d00 100%) 0% 0%
      no-repeat padding-box;
    opacity: 0.86;

    .content {
      color: $white;
      flex-direction: column;
      text-align: center;
      gap: 33px;
      padding-top: 200px;

      h1 {
        color: $white;
        font-size: 61px;
        font-family: "Calibri-Bold";
      }

      p {
        font-size: 18px;
        width: 30%;
      }

      a {
        background: #585858;
        width: 167px;
        transition: 0.5s;

        &:hover {
          background: $white;
          color: $mainColor;
          border: none;
        }
      }
    }
  }
}
/*======= end header layout ===============*/
