// ============ start variable============
$mainColor: #ff4d00;
$secondColor: #343434;
$mainBackground: #fdf6f0;
$secondBackground: #787878;
$black: #000;
$white: #fff;
// ============ end variable =============
